{% extends 'surveysApp/base_generic.html' %}

{% block content %}
  <h1>Fill out the survey: {{ survey.title }}</h1>
  <p>{{ survey.description }}</p>
  
  <form method="POST">
    {% csrf_token %}
    
    <!-- Hidden input to store the survey_id -->
    <input type="hidden" name="survey_id" value="{{ survey.id }}">

    <div class="form-group">
      {% for question in survey.questions.all %}
        <div class="question">
          <label for="question-{{ question.id }}">{{ question.question }}</label>
          
          {% if question.type == 'open' %}
            <textarea name="answer_{{ question.id }}" class="form-control" rows="4" placeholder="Your answer"></textarea>
          {% elif question.type == 'multiple_choice' %}
            {% for option in question.options.all %}
              <div class="form-check">
                <input type="radio" name="answer_{{ question.id }}" value="{{ option.id }}" id="option_{{ option.id }}" class="form-check-input">
                <label class="form-check-label" for="option_{{ option.id }}">{{ option.optionText }}</label>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
    
    <button type="submit" class="btn btn-primary">Submit Survey</button>
  </form>
{% endblock %}
